.title-article {
  /*font-family: "Bungee", sans-serif;*/
  font-family: "Comfortaa", cursive;
  font-size: var(--size-big);
  font-weight: bold;
  color: var(--color-first);
  word-wrap: break-word;
  padding-top: var(--gap-small);
  padding-bottom: var(--gap-medium);
}
